<body class="fade-in">
  <ion-header>
    <ion-navbar color=orange>
      <ion-title text-center>
        <strong>StorageForage</strong>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content text-center padding-vertical>
    <div *ngIf="submitAttempt">{{failedLoginMessage}}</div>
    <form [formGroup]="login">
      <div class="loginForm">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="email" class="input" formControlName="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
        </ion-item>
        <ion-item *ngIf="!login.controls.email.valid && submitAttempt">
          Please enter a valid email
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" class="input" formControlName="password"></ion-input>
        </ion-item>
      </div>
    </form>
  </ion-content>
  <ion-footer no-padding class="footbuttons">
    <ion-row>
      <button ion-button full outline clear class="buttonhome" (click)="openDashboard()">
        Log In
      </button>
      <div style="background-color: #e9e9e9; width: 100%; height: 1px"></div>
      <button ion-button full outline clear class="buttonhome" (click)="openSignup()">
        Create Account
      </button>
    </ion-row>
  </ion-footer>
</body>
