<ion-header>
  <ion-navbar color="orange">
    <ion-title>Create Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="submitAttempt">{{failedSubmitMessage}}</div>
    <form [formGroup]="signup">	
	    <div class ="signupForm">
		<ion-item>
		    <ion-label floating>First Name</ion-label>
		    <ion-input type="text" class="input" formControlName="firstname" [class.invalid]="!signup.controls.firstname.valid && submitAttempt"></ion-input>
		</ion-item>
		<ion-item  *ngIf="!signup.controls.firstname.valid && submitAttempt">
		    <p>Please enter a valid first name.</p>
		</ion-item>
		<ion-item>
		    <ion-label floating>Last Name</ion-label>
		    <ion-input type="text" class="input" formControlName="lastname" [class.invalid]="!signup.controls.lastname.valid && submitAttempt"></ion-input>
		</ion-item>
		<ion-item *ngIf="!signup.controls.lastname.valid && submitAttempt">
		    <p>Please enter a valid last name.</p>
		</ion-item>		
		<ion-item>
		    <ion-label floating>Email</ion-label>
		    <ion-input type="email" class="input" formControlName="email"></ion-input>
		</ion-item>
		<ion-item *ngIf="!signup.controls.email.valid && submitAttempt">
		    <p>Please enter a valid email.</p>
		</ion-item>
		<ion-item>
		    <ion-label floating>Password</ion-label>
		    <ion-input type="password" class="input" formControlName="password"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label floating>Confirm Password</ion-label>
		    <ion-input type="password" formControlName="passwordconfirm"></ion-input>
		</ion-item>
		<ion-item *ngIf="signup.controls.passwordconfirm.touched && signup.hasError('mismatchedPasswords') && signup.controls.password.valid">
		    <p>Passwords do not match.</p>
		</ion-item>
		<ion-item>
		    <ion-label floating>Date of Birth</ion-label>
		    <ion-datetime class="input" formControlName="birthday" #bdate></ion-datetime>
		</ion-item>
          <ion-item *ngIf="!signup.controls.birthday.touched && submitAttempt">
            <p>Please enter a valid date of birth.</p>
          </ion-item>
          <ion-item *ngIf="signup.controls.birthday.touched && signup.hasError('validateAge')">
            <p>You must be 18 years old to use this app.</p>
          </ion-item>
	    </div>
  </form>
  <ion-row style="margin-top: 0px; text-align: center;">
    <ion-item *ngIf="!myPhoto && submitAttempt">
      <p>Please choose a profile image.</p>
    </ion-item>
    <ion-col *ngIf="myPhoto">
      <img style="max-width: 100px; max-height: 100px" src="{{myPhoto}}" />
    </ion-col>
    <button ion-button full outline clear style="color:black; margin: 0px" (click)="getPictures()">Upload Images</button>
    <div style="background-color: #e9e9e9; width: 100%; height: 1px"></div>
    <button ion-button full outline clear style="color:black; margin: 0px" (click)="submitForm()">
      Submit
    </button>
  </ion-row>
</ion-content>
