<body>
<ion-header>

    <ion-navbar color="orange">
        <ion-title>Browse</ion-title>
        <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>

    <ion-grid>
        <ion-row>
            <ion-col>
              <ion-searchbar (ionInput)="filterItems($event)">
              </ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>


<ion-content padding>
    <!-- <ion-list> -->
      <ion-grid>
<ion-row text-center>
  <ion-col *ngFor="let post of posts | async">
      <ion-card style="min-width: 300px; max-width: 375px" class="fade-in"  (click)="openListing(post)">
  <img style="max-height: 200px" src=""/>
  <ion-card-content text-left>
    <ion-card-title>
      {{post.title}}
      </ion-card-title>
      <p><strong>Empty Extra Bedroom</strong></p>
                <p>{{post.price}}</p>
                <img src="assets/imgs/star_rating.png" style="max-width: 100px;">
  </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

    </ion-grid>

        <!-- <ion-item class="fade-in" *ngFor="let item of items" (click)="openListing(item)">
          <ion-row>
            <ion-col>
              <ion-thumbnail>
                <img src={{item.img}}>
              </ion-thumbnail>
            </ion-col>
            <ion-col text-left>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
        </ion-col>
        </ion-row>
        </ion-item> -->
    <!-- </ion-list> -->
</ion-content>
</body>