<ion-header>
  <ion-navbar color="orange">
    <ion-title>Your Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-grid class="ionGrid">
    <ion-row>
      <ion-col text-center style="margin-top: 20px">
        <h2>{{(account | async)?.firstName}} {{(account | async)?.lastName}}</h2>
        <img *ngIf="!account" src="assets/imgs/avatar.png" style="border-radius: 50%; padding: 10px; max-height: 300px">
        <img *ngIf="account" [src]="(account | async)?.profileImg" style="border-radius: 50%; padding: 10px; max-height: 300px">
      </ion-col>
      <ion-col text-center style="margin-top: 20px; padding-top: 50px">
        <ion-card style="min-width: 340px; max-width: 100%">
          <ion-card-header style="background-color: #FBDBC6">
            Hi, {{(account | async)?.firstName}}
          </ion-card-header>
          <ion-list>
            <button ion-item>
              View Profile
            </button>
            <button ion-item (click)="editAccount()">
              Edit Profile
            </button>
            <button ion-item>
              Account Settings
            </button>
            <button ion-item>
              Log Out
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col text-left class="hidemobile">
          <div style="background-color: #FBDBC6; width: 100%; border-bottom: 1px solid #eff0f1; padding: 5px">
            <h3 style="margin: 0px">Reservations</h3>
          </div>
          <ion-item *ngFor="let res of reservations" (click)="openViewPosting(res.posting)">
            <ion-col>{{res.posting.title}}</ion-col>
            <ion-col>{{res.reservation.startDate}}</ion-col>
            <ion-col>{{res.reservation.endDate}}</ion-col>
          </ion-item>
      </ion-col>
    </ion-row>
       
    <ion-row style="border: 1px solid #eff0f1; margin-bottom: 20px; margin-top: 20px; text-align: left">
      <div style="background-color: #FBDBC6; width: 100%; border-bottom: 1px solid #eff0f1; padding: 5px">
      <h3 style="margin: 0px">My Listings</h3>
      </div>  
      <ion-col text-left>
        <ion-grid>
          <ion-row text-center>
            <ion-col *ngFor="let post of posts">
              <ion-card style="min-width: 300px; max-width: 375px" class="fade-in" (click)="openEditPosting(post)">
                <div *ngFor="let image of post.images; index as i" [attr.data-index]="i">
                  <div *ngIf="i === 0">
                    <img style="min-width: 300px; max-height: 200px" src={{image}}/>
                  </div>
                </div>
                <ion-card-content text-left>
                  <ion-card-title>
                    {{post.title}}
                  </ion-card-title>
                  <p><strong>{{post.size}}</strong></p>
                  <p>{{priceString(post)}}</p>
                  <img src="assets/imgs/star_rating.png" style="max-width: 100px;">
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>