<!--
  Sign up page.
  @authors
  	-Jorah Hinman
	-Joshua Holden
-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="signup">
		<ion-list inset>
			<ion-item>
				<ion-label floating>first name:</ion-label>
				<ion-input type="text" formControlName="firstname"></ion-input>
				<ion-item *ngIf="!signup.controls.firstname.valid && submitAttempt">
					Please enter a valid first name.
				</ion-item>
			</ion-item>
			<ion-item>
				<ion-label floating>last name:</ion-label>
				<ion-input type="text" formControlName="lastname"></ion-input>
				<ion-item *ngIf="!signup.controls.lastname.valid && submitAttempt">
					Please enter a valid last name.
				</ion-item>
			</ion-item>
			<ion-item>
				<ion-label floating>email:</ion-label>
				<ion-input type="email" formControlName="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>password:</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating>confirm password:</ion-label>
				<ion-input type="password" formControlName="passwordconfirm"></ion-input>
			</ion-item>
		</ion-list>

		<button ion-button full color="orange" type="submit" (click)="submitForm()">Create Account</button>
	</form>
</ion-content>
