page-home {

}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leftHalf, .rightHalf{
    width: 50%;
    height: 100%;

}
.leftHalf{
    float: left;
    color:darkorange;
}
.leftText,.rightText{
    text-align: center;
    margin-top: 40%;
    font-size: 6em;
}
.rightHalf{
    float: right;
    color:white;
    background-color: darkorange;
}
.login{
    width:100%;
    position:absolute;
    background-color: black;
    border-radius: 4px;
    z-index: 100;
    bottom: 0;
    left: 0;
}
.loginText{
    font-size: 3em;
    text-align: center;
    color:white;
}
.logo{
    margin-left: -20%;
    margin-right: 30%;
    width: 40%;
    position: fixed;
}
