<ion-header>
  <ion-navbar color="orange">
    <ion-title>Edit Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editAccount">
    <ion-row>
      <ion-label>First Name:</ion-label>
    </ion-row>
    <ion-row>
        <ion-label *ngIf="selected !== 'firstName'">{{(account | async)?.firstName}}</ion-label>
        <ion-input *ngIf="selected === 'firstName'"type="text" class="input" formControlName="firstname"></ion-input>
        <button ion-button icon-only color="orange" (click)="selected = 'firstName'" >
          <ion-icon name="create"></ion-icon>
        </button>
    </ion-row>
    <ion-row>
      <ion-label>Last Name:</ion-label>
    </ion-row>
    <ion-row>
      <ion-label *ngIf="selected !== 'lastName'">{{(account | async)?.lastName}}</ion-label>
        <ion-input *ngIf="selected === 'lastName'" type="text" class="input" formControlName="lastname"></ion-input>
      <button ion-button icon-only color="orange" (click)="selected = 'lastName'">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-row>
    <ion-row>
      <ion-label>Email:</ion-label>
    </ion-row>
    <ion-row>
      <ion-label *ngIf="selected !== 'email'">{{(account | async)?.email}}</ion-label>
      <ion-input *ngIf="selected === 'email'" type="text" class="input" formControlName="email"></ion-input>
      <button ion-button icon-only color="orange" (click)="selected = 'email'">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-row>
    <ion-row>
      <ion-label>Date of Birth:</ion-label>
    </ion-row>
    <ion-row>
      <ion-label *ngIf="selected !== 'birthday'">{{(account | async)?.birthDate}}</ion-label>
      <ion-col>
        <ion-datetime *ngIf="selected === 'birthday'" class="input" formControlName="birthday" #bdate></ion-datetime>
      </ion-col>
      <button ion-button icon-only color="orange" (click)="selected = 'birthday'">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-row>
    <ion-row>
      <ion-label>Password:</ion-label>
      <button ion-button icon-only color="orange" (click)="selected = 'password'">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-row>
    <ion-row *ngIf="selected === 'password'">
      <ion-label>Current Password:</ion-label>
      <ion-input *ngIf="selected === 'password'" type="text" class="input" formControlName="password"></ion-input>
    </ion-row>
    <ion-row *ngIf="selected === 'password'">
      <ion-label>Re-enter Password:</ion-label>
      <ion-input type="text" class="input" formControlName="passwordconfirm"></ion-input>
        <ion-icon *ngIf="editAccount.hasError('mismatchedPasswords')"name="alert"></ion-icon>
        <ion-icon *ngIf="!editAccount.hasError('mismatchedPasswords')" name="checkmark"></ion-icon>
    </ion-row>
    <ion-row style="margin-top: 50px; text-align: center;">
      <ion-col *ngIf="photo">
        <img style="max-width: 100px; max-height: 100px" src="{{myPhoto}}" />
      </ion-col>
    </ion-row>
      <button ion-button full outline clear style="color:black; margin: 0px" (click)="getPictures()">Change Profile Picture</button>
    <ion-row>
      <button ion-button full outline clear style="color:black; margin: 0px" (click)="submitChanges()">
          Save changes
      </button>
    </ion-row>
  </form>
</ion-content>
